.col-centered {
	margin: 0 auto;
	float: none;
}

.login-form-body {
	border: 1px solid #999999;
}

.login-form-header {
	border-bottom: 1px solid #999999;
	background-color: #e6e6e6;
}

.login-button {
	background-color: #ff6600;
	transition: 0.3s;
}

.login-button:hover {
	filter: brightness(75%);
}

footer {
	background-color: #404040;
	padding: 10px 0;
}

footer p {
	color: #ffffff;
	text-align: center;
}

footer p a {
	color: #99ccff;
	transition: 0.3s;
}

footer p a:hover {
	text-decoration: none;
	color: #3399ff;
}

footer p span {
	transition: 0.3s;
}

footer p span:hover {
	cursor: pointer;
	color: #ff6600;
}

nav.navbar.navbar-default {
    background-color: #e65c00;
    border-color: #b34700;
}

nav.navbar.navbar-default a {
    color: white;
}

nav a {
	color: white;
	transition: 0.3s;
	font-size: 16px;
}

nav a:hover {
	color: #404040;
	text-decoration: none;
}

div.navbar-nav {
	margin-right: 85px;
}

 /* Dropdown Button */
.dropbtn {
  	color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black!important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #ff6600;
} 
